## CS/CE 457/464 Homework 02

## Owais Aijaz 7610
## oa07610@st.habib.edu.pk

In [165]:
import pandas as pd
from scipy import stats

In [167]:
df = pd.read_csv('student-scores.csv')

In [169]:
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

### Q1
NULL Hypothesis Ho -> math_score of males and females are same

Alternative Hypothesis Ha -> Math scores of males is greater than females

In [172]:
math_score_male = df[(df['gender'] == 'male')]['math_score']

math_score_female = df[(df['gender'] == 'female')]['math_score']

stats.ttest_ind(math_score_male, math_score_female, alternative='greater')

TtestResult(statistic=2.2371559026936256, pvalue=0.012693020299630226, df=1998.0)

P-Value < 0.05 => Hence we can reject null hypothesis and we have to accept the alternative hypothesis that says math scores of males is greater than females.

### Q2

Ho -> Math scores of non-doctors is same as that of doctors

Ha -> Math scores of non-doctors is greater than doctors

In [176]:
maths_non_doctors = df[df['career_aspiration'] != 'Doctor']['math_score']
maths_doctors = df[df['career_aspiration'] == 'Doctor']['math_score']

stats.ttest_ind(maths_non_doctors, maths_doctors, alternative='greater')

TtestResult(statistic=-7.389083205876682, pvalue=0.999999999999892, df=1998.0)

P-Value > 0.05 => Hence we accept the null hypothesis and reject the alternative hypothesis. So we come to a conclusion that math scores of doctors and non doctors are same.

### Q3

Ho -> weekly_self_study_hours of males and females are same

Ha -> weekly_self_study_hours of males are greater than females

In [180]:
weekly_study_males = df[(df['gender'] == 'male')]['weekly_self_study_hours']
weekly_study_females = df[(df['gender'] == 'female')]['weekly_self_study_hours']

stats.ttest_ind(weekly_study_males, weekly_study_females, alternative='greater')

TtestResult(statistic=3.4567831650474443, pvalue=0.00027905018418441824, df=1998.0)

P-Value < 0.05 => Hence we can reject the null hypothesis and we have to accept the alternative hypothesis which says weekly self study hours of males are greater than females.

### Q4

Ho -> math score of no part time male students is equal to or same as part time male students

Ha -> math score of no part time male students is greater than part time male students

In [184]:
no_parttimejob_male = df[(df['part_time_job'] == False) & (df['gender'] == 'male')]['math_score']

parttimejob_male = df[(df['part_time_job'] == True) & (df['gender'] == 'male')]['math_score']

stats.ttest_ind(no_parttimejob_male, parttimejob_male, alternative='greater')

TtestResult(statistic=5.8026672393780085, pvalue=4.3820239750124745e-09, df=996.0)

P-Value < 0.05 => Hence we will reject the null hypothesis and accept the alternative hypothesis which says that males who dont work part time, their math scores are greater than those who work part time. This shows that having a job alongside studies gets a little hard to manage as indicated by the math scores.

### Q5

Ho -> Average of history score is same as geography score

Ha -> Average of history score is less than geography score

In [188]:
stats.ttest_ind(df['history_score'], df['geography_score'] , alternative="less")

TtestResult(statistic=-1.4412586066465385, pvalue=0.07479497633658547, df=3998.0)

P-Value > 0.05 => we accept the null hypothesis and conclude that average of history score is same as geography score.

### Q6

Ho -> Average of math score is same as biology score

Ha -> Average of math score is greater than biology score

In [192]:
stats.ttest_ind(df['math_score'], df['biology_score'] , alternative="greater")

TtestResult(statistic=9.082620143235266, pvalue=8.146293509285797e-20, df=3998.0)

P-Value < 0.05 => Hence we can reject the null hypothesis and we have to accept the alternative hypothesis that average of math score is greater than biology score.

### Q7

Ho -> weekly_self_study_hours of extracurricular_activities is same as self study hours of no extracurricular_activities

Ha -> weekly_self_study_hours of extracurricular_activities is less than no extracurricular_activities

In [196]:
hours_extra_curricular = df[(df['extracurricular_activities'] == True)]['weekly_self_study_hours']

hours_no_extra_curricular = df[(df['extracurricular_activities'] == False)]['weekly_self_study_hours']

stats.ttest_ind(hours_extra_curricular, hours_no_extra_curricular, alternative="less")

TtestResult(statistic=-2.3506159912870577, pvalue=0.009419553161020007, df=1998.0)

P-Value < 0.05 => Hence we reject the null hypothesis and accept the alternative hypothesis. So we can conclude that people who are engaged in extra curricular activities have less time for self study.

### Q8

Ho -> absence days of females are same as males

Ha -> absence days of females are less than males

In [200]:
female_absences = df[(df['gender'] == 'female')]['absence_days']

male_absences = df[(df['gender'] == 'male')]['absence_days']

stats.ttest_ind(female_absences, male_absences, alternative='less')

TtestResult(statistic=1.3128102331149203, pvalue=0.9053011661354035, df=1998.0)

P-Value > 0.05 => Hence we can accept the null hypothesis and say that absence days of females are same as males and reject the alternative hypothesis.

### Q9

Ho -> There is no association between gender and career_aspiration

Ha -> There is an association between gender and career_aspiration

In [204]:
chisqt = pd.crosstab(df['gender'],df['career_aspiration'], margins=True)
stats.chi2_contingency(chisqt)

Chi2ContingencyResult(statistic=155.39466648000175, pvalue=1.9087221746002932e-17, dof=34, expected_freq=array([[  63.126,   33.567,   84.669,  154.809,   34.068,   28.056,
          59.619,   31.563,   30.561,   69.138,   41.583,   19.539,
         157.815,   36.573,   29.559,  111.723,   16.032, 1002.   ],
       [  62.874,   33.433,   84.331,  154.191,   33.932,   27.944,
          59.381,   31.437,   30.439,   68.862,   41.417,   19.461,
         157.185,   36.427,   29.441,  111.277,   15.968,  998.   ],
       [ 126.   ,   67.   ,  169.   ,  309.   ,   68.   ,   56.   ,
         119.   ,   63.   ,   61.   ,  138.   ,   83.   ,   39.   ,
         315.   ,   73.   ,   59.   ,  223.   ,   32.   , 2000.   ]]))

P-Value < 0.05 => Hence we reject the null hypothesis and accept the alternative hypothesis. So we conclude that there is an association between gender and career aspiration.

### Q10

Ho -> There is no association between gender and part time job

Ha -> There is an association between gender and part time job

In [208]:
chisqt = pd.crosstab(df['gender'],df['part_time_job'], margins=True)
stats.chi2_contingency(chisqt)

Chi2ContingencyResult(statistic=1.1337105392319442, pvalue=0.8888874344046543, dof=4, expected_freq=array([[ 843.684,  158.316, 1002.   ],
       [ 840.316,  157.684,  998.   ],
       [1684.   ,  316.   , 2000.   ]]))

P-Value > 0.05 => Hence we accept the null hypothesis and conclude that there is no association between gender and part time job.